<div class="div-nav">
    <a class="title" href="">{{title}}</a>
    <nav class="nav-top">
        <a appHoverAnimation href="">{{navInicio}}</a>
        <a appHoverAnimation href="">{{navAbaout}}</a>
        <a appHoverAnimation href="">{{navSkills}}</a>
        <a appHoverAnimation href="">{{navProyects}}</a>
        <a appHoverAnimation href="">{{navContact}}</a>
    </nav>
</div>

<section class="section-one">
    <div class="header-welcome header">
        <h1 class="color-first-text">{{titleSecondWelcome}}</h1>
        <h1 class="color-second-text">{{titlethirtWelcome}}</h1>
        <div class="sub-title">
            <h2>{{text}}<span class="cursor" [class.blinking]="showCursor">_</span></h2>
        </div>
    </div> 
    <div class="icons-software">

    </div>
</section>
<router-outlet />