<div class="div-nav">
    <a class="title" href="">{{title}}</a>
    <nav class="nav-top">
        <a appHoverAnimation href="">{{navInicio}}</a>
        <a appHoverAnimation href="">{{navAbaout}}</a>
        <a appHoverAnimation href="">{{navSkills}}</a>
        <a appHoverAnimation href="">{{navProyects}}</a>
        <a appHoverAnimation href="">{{navContact}}</a>
    </nav>
</div>

<section class="section-one">
    <div class="header-welcome header">
        <h1 class="color-first-text">{{titleSecondWelcome}}</h1>
        <h1 class="color-second-text">{{titlethirtWelcome}}</h1>
        <div class="sub-title">
            <h2>{{text}}<span class="cursor" [class.blinking]="showCursor">_</span></h2>
        </div>
    </div> 
    <div class="icons-software">
        <c-icon name="cibSpring"></c-icon>
        <c-icon name="cibAngular"></c-icon>
        <c-icon name="cibDotNet"></c-icon>
        <c-icon name="cibPostgresql"></c-icon>
        <c-icon name="cibMysql"></c-icon>
        <c-icon name="cibGithub"></c-icon>
        <c-icon name="cibFilezilla"></c-icon>
        <c-icon name="cibUbuntu"></c-icon>
        <c-icon name="cibPostman"></c-icon>
        <c-icon name="cibAndroidAlt"></c-icon>
    </div>
</section>

<div class="title-2">
    <h2 class="navSecondSect">{{navSectionSecond}}</h2>
</div>

<section class="section-container">
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div>
        <h3 class="title-3">{{title3}}</h3>
        <p class="text">{{text1}}</p>
        <p class="text">{{text2}}</p>
        <div>
            <div class="data-container">
                <div>
                    <div>
                        <p class="data-title">{{dataTitle1}}</p>
                        <p class="data-text">{{dataText1}}</p>
                    </div>
                    <div>
                        <p class="data-title">{{dataTitle2}}</p>
                        <p class="data-text">{{dataText2}}</p>
                    </div>
                </div>
                <div class="data-subcontainer">
                    <div>
                        <p class="data-title">{{dataTitle3}}</p>
                        <p class="data-text">{{dataText3}}</p>
                    </div>
                    <div>
                        <p class="data-title">{{dataTitle4}}</p>
                        <p class="data-text">{{dataText4}}</p>
                    </div>
                </div>
            </div>
            <button href="#" class="btn-download">{{btnDownload}}</button>
        </div>
    </div>
</section>
<section>
    <div>
        <h3 class="exp-title">{{extTitle}}</h3>
    </div>
    <div class="exp-section-1">
        <p class="expSubTitle">{{expSubTitle}}</p>
        <p class="expCarrer">{{expCarrer}}</p>
        <p class="expYear">{{expYear}}</p>
    </div>
</section>
<router-outlet />